.control-settings .settings-items .settings-item > a .item-icon i {
   font-size: 36px !important;
   line-height: 64px;
 }

 nav#layout-mainmenu.navbar ul li a i,
nav#layout-mainmenu .menu-toggle i,
.mainmenu-collapsed li a i {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 10px;
}

.navbar .layout-cell {
  display: table-cell;
  vertical-align: middle !important;

}
